* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@import "components/CardDetail";
@import "components/Header";
@import "components/Kanban";
@import "components/KanbanColumn";
@import "components/Tag";
