.Dashboard {
  display: flex;
  flex-direction: row;
  height: 100%;
  overflow-x: auto;

  &_card {
    background: white;
    border: 1px solid black;
    margin-bottom: 10px;
    padding: 10px 25px 10px 10px;
    position: relative;
  }

  &_card-context-link {
    color: black;
    position: absolute;
    right: 10px;
    text-decoration: none;
    top: 9px;
  }

  &_column {
    border-right: 2px solid black;
    height: calc(100vh - 42px);
    position: relative;
    max-width: 300px;
    min-width: 300px;
  }

  &_container {
    bottom: 0;
    display: flex;
    flex-direction: column;
    left: 0;
    overflow-y: auto;
    padding: 20px;
    position: absolute;
    right: 0;
    top: 40px;
  }

  &_header {
    border-bottom: 1px solid black;
    padding: 10px 20px;
  }

  &_header-add {
    float: right;
  }
}
