.Kanban {
  display: flex;
  flex-direction: row;
  height: 100%;
  overflow-x: auto;

  &_container {
    display: flex;
    flex-direction: row;
    height: calc(100vh - 42px);
    overflow: auto;
    width: 100%;

    .Kanban.-card-detail & {
      width: calc(100% - 500px);
    }
  }
}
